
/* Document-wide elements */

/* Circular Std font from freefonts.io */

@font-face {
    font-family: "Circular Std", "Coda Caption", sans-serif;
    src: url(/fonts/circular-std-medium-500.ttf);
}

body {
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #1B0A42;
    max-width: 1600px;
}

button {
    background: #FC569A;
    border-radius: 6px;
    color: #FFF;
    font-weight: bold;
    line-height: 200%;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    border-style: none;
}

/* Header-level elements */

header {
    font-size: 16px;
    line-height: 24px;
    max-width: 1600px;
    width: 100%;
    display: flex;
}

h3.logo {
    font-family: "Circular Std", sans-serif;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -0.02em;
    margin-left: 80px;
}

.logo-dot {
    color: #FC569A;
}

nav  {
    list-style: none;
    padding-top: 15px;
}

nav li {
    display: inline;
    padding-left: 80px;
}

.push {
    margin-left: auto;
    display: inline-block;
}

.sign-in {
    display: inline-block;
    vertical-align: top;
    margin-right: 67px;
}

/* Main section elements */

main {
    float: right;
    padding-top: 5%;
    padding-bottom: 5%;
}
section {
    display: inline-block;
    vertical-align: top;
}

.info-headline {
    width: 550px;
    font-family: "Ramaraja", serif;
    font-size: 72px;
    line-height: 76px;
    margin-bottom: -10px;
}

.info-text {
    width: 581.49px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: #9A9A9A;
    margin-bottom:20px;
}

.learnmore-button {
    margin: 0px;
}

img {
    width: 778px;
    height: 526px;
}
    